.al_escape_pre {
  text-align: right;
  margin-bottom: 0;
  display: none;
  /* The below makes sure other content can be on the same line.
  It can look weird if people have an element with `display: block`
  that comes before this one. */
  float: right;
}

@media (max-width: 767px) {
  .al_escape_pre {
    display: block;
  }
}